.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.categories{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.categories_items{
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.4s;
}

.categories_items:hover{
    border-color: silver;
    background: red;
    color: white;
    transform: scale(1.1);
}

.searchInput{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 60%;
    position: relative;
}

@media screen and (max-width: 1297px) {
.categories_items{
    font-size: 15px;
    padding: 10px 15px;
}
}

@media screen and (max-width: 1122px) {
    .categories_items{
        font-size: 14px;
        padding: 2px 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .categories{
        overflow-x: scroll;
        width: 100%;
    }
    .categories_items:hover{
        border-color: transparent;
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .categories_items{
        font-size: 14px;
        padding: 2px 20px;
        justify-content: center;
        align-items: center;
    }
    .categories{
        overflow-x: scroll;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .categories_items{
        font-size: 12px;
        padding: 2px 20px;
        justify-content: center;
        align-items: center;
    }
    .categories{
        overflow: scroll;
        width: 100%;
    }
}