.fullItem{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
}

.info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.fullItem > div{
    width: 1000px;
    height: 500px;
    position: relative;
    padding: 40px 30px;
    background: white;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fullItem img{
    width: 50%;
    border-radius: 10px 10px 0 0;
}

.fullItem h2,p,b{
    margin: 10px 20px;
    color: #333;
}

.addToCart2{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: 0.4s;
}

.favoriteIcon{
    position: absolute;
    right: 85px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 23px;
    transition: 0.4s;
}

.favoriteIcon:hover{
    transform: scale(1.3) translateY(-5px);
    color: white;
    background: #ca5252;
}

.favoriteIconActive{
    position: absolute;
    right: 85px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    font-size: 23px;
    transition: 0.4s;
}

.favoriteIconActive:hover{
    transform: scale(1.3) translateY(-5px);
}

.addToCart2:hover{
    transform: scale(1.3) translateY(-5px);
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    padding: 0;
}

@media screen and (max-width: 1106px) {
    .fullItem img{
        width: 40%;
        /*height: 40%;*/
    }

    .fullItem > div{
        width: 100%;
        height: 90%;
        padding: 40px 30px;
        background: white;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow-y: scroll;
    }

    .closeButton{
        top: 80px;
        right: 100px;
    }

    .addToCart2{
        right: 100px;
    }

    .favoriteIcon{
        right: 150px;
    }

    .favoriteIconActive{
        right: 150px;
    }

    .fullItem h2,p,b{
        margin: 0px 0px;
        color: #333;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 867px) {
    .fullItem img {
        width: 55%;
        /*height: 40%;*/
    }
}

@media screen and (max-width: 600px) {
    .fullItem{
        /*background: white;*/
    }

    .fullItem > div{
        width: 100%;
        height: 90%;
        padding: 40px 80px;
        background: white;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }

    .closeButton{
        top: 80px;
        right: 50px;
    }

    .addToCart2{
        right: 50px;
    }

    .favoriteIcon{
        right: 100px;
    }

    .favoriteIconActive{
        right: 100px;
    }

    .fullItem img{
        width: 100%;
        /*height: 40%;*/
    }

    .fullItem h2,p,b{
        margin: 7px 0px;
        color: #333;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}