.fullItem{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}

.fullItem > div{
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: white;
    border-radius: 9px;
}

.fullItem img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.fullItem h2,p,b{
    margin: 10px 20px;
    color: #333;
}

.addToCart2{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: 0.4s;
}

.addToCart2:hover{
    transform: scale(1.5) translateY(-5px);
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    padding: 0;
}
